.n-scrollbar .n-scrollbar-content {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.n-button.el-customize {
    position: relative;
    &.el-medium {
        min-width: 88px;
    }
}

.n-dialog.el-customize {
    > .n-dialog__content {
        margin: 0;
    }
}

.n-input.el-customize {
    .n-input__input-el[readonly] {
        cursor: default;
        color: var(--n-text-color-disabled);
        text-decoration-color: var(--n-text-color-disabled);
    }
}
