.ck-body-wrapper {
    .ck-dropdown {
        .ck-dropdown__arrow {
            display: none;
        }
    }
    .ck.ck-powered-by {
        display: none;
    }
}

.n-scrollbar .n-scrollbar-content {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.n-button.el-customize {
    position: relative;
    &.el-medium {
        min-width: 88px;
    }
}

.n-dialog.el-customize {
    > .n-dialog__title {
        font-size: 24px;
    }
    > .n-dialog__content {
        margin: 0;
    }
    &.el-transfer > .n-dialog__title {
        margin: -16px -28px 0;
        padding: 16px 56px 0 28px;
    }
}

.n-alert.el-customize {
    .n-alert-body,
    .n-alert-body__content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}
